@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

html{
    font-family: 'Fredoka One', cursive;
}

header, main{
    width: 60%;
    margin: auto;
}

header h1{
    color: #E53170;
}

header > h1, .heading{
    padding: 20px 0px;
    text-align: center;
}

.container{
    width: 100%;
}

.columns{
    padding: 20px 10px;
    width: calc(100% / 3);
    float: left;
}

.cards{
    float: left;
    background-color: black;
    height: 70px;
    width: 100%;
    box-shadow: 3px 3px 3px 3px #888888
}

img {
    height: 100%;
    float: left;
    padding-right: 10px;
}

.work{
    /* font-size: 12px; */
}

.name{
    /* font-size: 18px; */
}

.mail{
    color:#36B8E0;
}

.name, .work {
    color: white;
}

.name, .work, .mail {
    text-align: left;
    padding: 2px;
    font-size: 0.875rem;
}